@model CustomerViewModel

<table class="table">
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Отчество</th>
        <th>Email</th>
        <th>Телефон</th>
        <th>Дата рождения</th>
    </tr>
    <tr>
        <td>@Model.Name</td>
        <td>@Model.Surname</td>
        <td>@Model.Patronymic</td>
        <td>@Model.Email</td>
        <td>@Model.Phone</td>
        <td>@Model.Birthdate</td>
        <td><a asp-action="Edit" asp-route-id="@Model.ID">Изменить</a></td>
        <td><a asp-action="GetOrders" asp-route-id="@Model.ID">Список заказов</a></td>
        <td>
            <form asp-controller="Customer" asp-action="Delete" asp-route-id="@Model.ID" method="post">
                <div class="form-group">
                    <input type="submit" value="Удалить" class="btn btn-default" />
                </div>
            </form>
        </td>
    </tr>
