@model CustomerViewModel

<table class="table">
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Отчество</th>
        <th>Email</th>
        <th>Телефон</th>
        <th>Дата рождения</th>
    </tr>
        <tr>
            <td>@Model.Name</td>
            <td>@Model.Surname</td>
            <td>@Model.Patronymic</td>
            <td>@Model.Email</td>
            <td>@Model.Phone</td>
            <td>@Model.Birthdate</td>
        </tr>
